@import "../../_globalColor";
@import "../../App.scss";

.card-image {
  max-width: 100%;
  height: auto;
  width: 250px;
  border-radius: 15px;
}
.card-title {
  color: $titleColor;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.card-subtitle {
  color: $cardSubtitle;
  font-size: 17px;
  line-height: 1.5rem;
}

.skill-color {
  color: $skillColor;
  font-weight: bold;
}

.skill-color-dark {
  color: $skillColorDark;
  font-weight: bold;
}

.card-skills-subtitle {
  color: $cardSubtitle;
  font-size: 17px;
  line-height: 1.5rem;
  text-align: left;
}

.project-card {
  // display: flex;
  // flex-direction: column;
  background-color: $lightBackground2;
  padding-top: 2rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  justify-content: center;
}
.project-card-light {
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card-dark {
  box-shadow: 0px 10px 30px -15px $darkBoxShadow;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project-detail {
  text-align: center;
}
.project-card-light:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}
.project-card-dark:hover {
  box-shadow: 0px 20px 30px -10px $darkBoxShadow;
}
.project-image {
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem 1rem;
}

.project-card-footer span.project-tag {
  background: $buttonColor;
  color: $lightBackground3;
  vertical-align: middle;
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  font-size: 0.9rem;
  height: 2.5em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.project-card-footer span.project-tag:hover {
  background-color: $buttonHover;
}

@media (max-width: 768px) {
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2F2F2F;
  border-radius: 20px;
  padding: 20px;
  z-index: 999; // Ensure it's on top of other elements
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%; // Adjust according to your design
  max-height: 80%; // Adjust according to your design
  overflow-y: hidden;
}

.horizontal-scroll {
  display: flex; /* Use flexbox to make items stay in a row */
  overflow-x: auto; /* Enable horizontal scrollbar */
  white-space: nowrap; /* Prevent wrapping */
}

.horizontal-scroll a {
  margin-right: 30px; /* Add some space between images */
}

.gallery-img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: 800px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 10px;
}
